.fb_content {
  width: 100%;
  height: 720px;
  background-color: var(--body-color);
}

.container {
  padding: 72px 0 112px 0;
}

.main_container {
  width: 980px;
  padding: 20px 0;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo_and_text {
  width: 580px;
  padding-right: 32px;
}

.logo_and_text h2 {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  font-family: inherit;
  width: 500px;
  padding: 0 0 20px;
}

.fb_logo_container {
  padding: 112px 0 16px;
}

.fb_logo_container img {
  height: 106px;
  margin-left: -144px;
  margin-bottom: -28px;
}

.form_card {
  width: 396px;
  background-color: var(--white-color);
  border: none;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin-top: 40px;
  padding: 10px 0 24px;
  text-align: center;
}

.fb_login_container {
  vertical-align: top;
}

.input_ {
  width: 365px;
  margin: auto;
  text-align: center;
  padding: 6px 0;
  font-size: 17px;
  font-family: inherit;
  /* display: inline-block; */
}

.input_ .input_01 {
  border-radius: 6px;
  width: 330px;
  padding: 14px 16px;
  color: rgb(29, 33, 41);
  border: 1px solid rgb(221, 223, 226);
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  outline: none;
}

.input_01[type=text]:focus,
[type=password]:focus {
  border: 1px solid var(--button-color-blue);
}

.hidden_elem {
  display: none !important;
}

.login_button_container {
  padding-top: 6px;

}

.login_button_container button {
  background-color: var(--button-color-blue);
  padding: 0 16px;
  width: 332px;
  border: none;
  border-radius: 6px;
  box-sizing: content-box;
  font-size: 20px;
  color: var(--white-color);
  height: 48px;
  font-weight: 700;
  cursor: pointer;
}

.forget_password_container {
  margin-top: 16px;

}

.forget_password_container a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--button-color-blue);
}

.forget_password_container a:hover {
  text-decoration: underline;
}

.vertical_line {
  border-bottom: 1px solid rgb(218, 221, 225);
  margin: 20px 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.create_new_account_button {
  padding-top: 6px;
}

.create_new_account_button a {
  background-color: var(--button-color-green);
  color: var(--white-color);
  padding: 0 16px;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  text-decoration: none;
  height: 48px;
  text-wrap: nowrap;
  font-weight: 700;
  display: inline-block;
  box-sizing: content-box;
}

.create_new_account_button a:hover {
  background-color: rgb(16, 156, 16);
}

.reg_page_ms {
  margin-top: 28px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
  padding-top: 0;
  border: none;
}

.reg_page_ms a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
}

.reg_page_ms a:hover {
  text-decoration: underline;
}

.footer_container {
  padding-top: 20px;
}

.page_footer {
  width: 980px;
  margin: 0 auto;
  color: rgb(115, 115, 115);
}

._2pid {
  padding-top: 8px;
}

.localeSelectorList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.page_footer ul li {
  padding-left: 10px;
}

.plus {
  height: 18px;
  background-color: rgb(245, 246, 247);
  border: 1px solid rgb(204, 208, 213);
  line-height: 18px;
  vertical-align: middle;
  padding: 0 8px;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  display: inline-block;
}

.content_curve {
  border-bottom: 1px solid rgb(218, 221, 225);
  margin-bottom: 8px;
  height: 8px;
}

.page_footer_link_list {
  line-height: 1.6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  white-space: nowrap;
}

.page_footer_link_list {
  line-height: 19.2px;
}

.copyright {
  font-size: 11px;
}

.mv1 {
  margin: 20px 0;
}